<ul>
  <li> <a class ="instasearch" href= "dashboard"> <span class = "insta">Insta</span><span class="search">Search </span> </a> </li>
  <li><a href="dashboard">Home</a></li>
  <li><a href="dashboard">Dashboard</a></li>
  <li><a href="profile">Profile</a></li>
  <li><a href="search">Search</a></li>
  <a class="button right" href="/logout">Logout</a>
</ul>
