{{#each feed}}
<div class="picture">
  <img src="{{this.images.standard_resolution.url}}" alt="Your InstaFeed" />
  <p> <span class = "left"> {{this.likes.count}} likes </span>  <span class = "right" > {{this.comments.count}} comments </span> </p>
</div>
{{/each}}
