<div class="savedsearches">
  <p><b>Saved Searches:</b></p>
  {{#each search}}

  <form action="/search" method="post">
    <input type="hidden" name="search" id="search" value="{{ this }}"/>
    <button type="submit" class="savedsearch_button" value="{{ this }}"/>

  <!--<a class="savedsearch_button" href="/search">{{ this.name }}</a> -->
  {{/each}}
</div>
