<div class="savedsearches">
  <p><b>Saved Searches:</b></p>
  <a class="savedsearch_button" href="search.html">Saved Search 1</a>
  <a class="savedsearch_button" href="search.html">Saved Search 2</a>
  <a class="savedsearch_button" href="search.html">Saved Search 3</a>
</div>
