.left
{
  float: left;
}

.right
{
  float:right;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: blue;
}

.main {
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: yellow;
}

.savedsearches {
  float: left;
  width: 200px;
  height: 100%;
  border-style: ridge;
  background-color: green;
}

/*
This is Ahmeds section
*/

/*
Sarah
*/

/*
Ammon
*/
.body {
  float: left;
}

.button {
  margin: 5px;
  display: block;
  height: 40px;
  width: 200px;
  background: #2026E3;
  border: 2px solid;
  border-color: #333333;
  color: #FFFFFF;
  text-align: center;
  font: 30px Arial;

  border-radius: 50px;
  box-shadow: 0 8px 0 #4944DB;
}

.button:hover {
  background: #1016C2;
}

a.button
{
  text-decoration: none;
}

/*
Taylor
*/
