.left
{
  float: left;
}

.right
{
  float:right;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: blue;
  border-bottom: solid 1px #DDDDDD;
}

.main {
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: yellow;
}

.savedsearches {
  float: left;
  width: 200px;
  height: 100%;
  border: 0px;
  border-right: 2px;
  border-style: ridge;
  /*background-color: green; */
}

.picture {
  padding: 20px;
  border-color:black;
  border-width:1px;
  border-style: solid;
  width: 16%;
  margin-bottom: 4px;
  float:left;
  margin-right:4px;
  margin-top: 6px;
  margin-left:4px;
  position:relative;
  height: auto !important;
  height: 100%;
}



/*
Sarah






*/

/*
Ammon
*/
.body {
  float: left;
}

.body h2 {
  font: 30px Arial;
}

.body p {
  font: 15px Arial;
}

.button {
  margin: 5px;
  display: block;
  height: 40px;
  width: 200px;
  background: #2026E3;
  border: 2px solid;
  border-color: #333333;
  color: #EEEEEE;
  text-align: center;
  font: 30px Arial;

  border-radius: 50px;
  box-shadow: 0 8px 0 #4944DB;
}

.button:hover {
  background: #1016C2;
}

a.button
{
  text-decoration: none;
}


/*
Taylor
*/
