<!DOCTYPE html>
<head>
  <title>Instagram Search</title>
  <meta name="charset" content="utf-8">
  <meta name="description" content="This is the major project">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="header">
    <h1 class ="instasearch"> <span class = "insta">Insta</span><span class="search">Search </span> </h1>
    {{> navigation}}
  </div>

  <div class="main">
    {{> saved_searches}}

    {{{body}}}
  </div>
  <div class="footer">
    <p>Created by: Ammon Clegg, Ahmed Alhomran, Sarah Isaac, and Taylor Waterman</p>
  </div>
</body>
