<div class="content margin_left">
  <h2>Welcome to Instagram Search</h2>
  <p>This is a program for managing your Instagram. It allows for easy
    searching of all your Instagram feeds. Please login to Instagram to continue.</p>
  <a class="button" href="/authorize">Login</a>
</div>
