<div class="content margin_left">
  <h2>Welcome to Instagram Search</h2>
  <p>This is a program for managing your Instagram. It allows for easy
    searching of all your Instagram feeds.</p>
  <a class="button" href="dashboard">Login</a>
  <p> Or if you are a new user: </p>
  <a class="button" href="dashboard">Sign Up </a>
</div>
