
<div class="search_box left">
  <div class="container-1">
    <span class="icon"><i class="fa fa-search"></i></span>
    <input type="search" id="search" placeholder="Search..." />
    <button type="submit">Search</button>
    <button type="save">Save Search</button>
  </div>
</div>

<div class="content">
  {{> posts}}
  
</div><!-- end of content div-->
