
<div class="search_box left">
  <div class="container-1">
    <form action="" method="post">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" id="search" name="search" placeholder="Search..." />
      <button type="submit">Search</button>
    </form>

    {{#if search}}
    <form action="" method="post">
      <input type="search" id="search" name="search" readonly value="{{ search }}"/>
      <button type="submit">Save Search</button>
    </form>
    {{/if}}

  </div>
</div>

<div class="content">
  {{> posts}}

</div><!-- end of content div-->
