<!DOCTYPE html>
<head>
  <title>Instagram Search</title>
  <meta name="charset" content="utf-8">
  <meta name="description" content="This is the major project">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="header">
    <h1 class ="instasearch"> <span class = "insta">Insta</span><span class="search">Search </span> </h1>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="dashboard.html">Dashboard</a></li>
      <li><a href="profile.html">Profile</a></li>
      <li><a href="search.html">Search</a></li>
    </ul>
  </div>
  <div class="main">
    <div class="savedsearches">
      <p><b>Saved Searches:</b></p>
      <a class="savedsearch_button" href="search.html">Saved Search 1</a>
      <a class="savedsearch_button" href="search.html">Saved Search 2</a>
      <a class="savedsearch_button" href="search.html">Saved Search 3</a>
    </div>
    <div class="body">
      Main stuff goes here
    </div>
  </div>
  <div class="footer">
  </div>
</body>
